In [1]:
import pandas

config = pandas.read_json("../config.json", typ="series")
config.LUCAS_RDATA

'/home/nikos/hdd/lucas/data/LUCAS.SOIL_corr.Rdata'

In [2]:
import rpy2.robjects as robjects

robjects.r['load'](config.LUCAS_RDATA)

R object with classes: ('character',) mapped to:
<StrVector - Python:0x7fd72bc31140 / R:0x559c493af0b8>
['LUCAS.SOIL']

In [3]:
Rdf = robjects.r('LUCAS.SOIL')
Rdf

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7fd72bc8fa50 / R:0x559c49b5e500>
[StrVector, StrVector, POSIXct, DataFrame, ..., IntVector, IntVector, FactorVec..., FactorVec...]
  sample.ID: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
<StrVector - Python:0x7fd72bc3ab90 / R:0x559c49b5e800>
['100', '1000', '10000', '10001', ..., '9995', '9996', '9997', '9998']
  ID: <class 'rpy2.robjects.vectors.StrVector'>
  R object with classes: ('character',) mapped to:
<StrVector - Python:0x7fd72bc3b550 / R:0x559c49c885e0>
['100', '1000', '10000', '10001', ..., '9995', '9996', '9997', '9998']
  date: <class 'rpy2.robjects.vectors.POSIXct'>
  R object with classes: ('POSIXct', 'POSIXt') mapped to:
<POSIXct - Python:0x7fd72bc3ac30 / R:0x559c49cad900>
[2011-01-2..., 2010-09-3..., ..., 2011-04-0..., 2011-02-2..., 2011-02-2..., 2010-06-1...]
R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7fd72bc8fa50 / R:0x559c49b5e500>
[StrVector, StrVector, POSIXct, DataFrame, ..., IntVector, IntVector, FactorVec..., FactorVec...]
...
  clay: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7fd72bc314b0 / R:0x559c70727fb0>
[56, 31, 0, 42, ..., 62, 62, 12, 62]
  silt: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7fd72bc3d5a0 / R:0x559c7073a960>
[561, 310, 0, 420, ..., 620, 620, 121, 620]
  sand: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7fd72bc3dbe0 / R:0x559c7074d310>
[KQ, KQ, MS, KQ, ..., M, M, KQ, M]
  pH.in.CaCl2: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7fd72bc3f280 / R:0x559c7075fcc0>
[mineral, mineral, mineral, mineral, ..., mineral, mineral, mineral, mineral]

In [4]:
colnames = list(Rdf.colnames)
cols_to_extract = ["sample.ID", "ID", "clay", "silt", "sand", "pH.in.H2O", "OC", "N", "P", "K", "CEC", "CaCO3"]
cols_dict = {key: colnames.index(key) for key in cols_to_extract}
cols_dict

{'sample.ID': 0,
 'ID': 1,
 'clay': 5,
 'silt': 6,
 'sand': 7,
 'pH.in.H2O': 9,
 'OC': 10,
 'N': 12,
 'P': 13,
 'K': 14,
 'CEC': 15,
 'CaCO3': 11}

In [5]:
df = pandas.DataFrame({key: list(Rdf[cols_dict[key]]) for key in cols_to_extract}).set_index("ID")
df

,sample.ID,clay,silt,sand,pH.in.H2O,OC,N,P,K,CEC,CaCO3
ID,,,,,,,,,,,
100,100,7.0,45.0,48.0,4.00,91.1,5.3,20.6,87.9,7.2,2.0
1000,1000,13.0,27.0,60.0,6.53,21.4,2.1,25.0,124.2,13.0,1.0
10000,10000,40.0,52.0,8.0,7.14,15.6,1.4,42.6,491.1,24.6,1.0
10001,10001,26.0,18.0,56.0,4.83,19.8,1.6,19.5,279.1,20.6,1.0
10002,10002,22.0,41.0,37.0,5.74,33.5,2.6,37.8,399.1,15.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
9994,9994,19.0,62.0,19.0,5.73,9.1,1.2,44.5,131.8,9.7,0.0
9995,9995,16.0,41.0,42.0,5.85,13.4,1.4,33.0,184.4,7.2,0.0
9996,9996,13.0,29.0,58.0,6.93,8.7,1.3,104.9,425.4,7.7,3.0
9997,9997,20.0,38.0,42.0,5.40,30.6,3.0,56.1,107.8,12.6,0.0
9998,9998,11.0,56.0,34.0,5.65,5.9,0.7,39.7,172.1,3.8,0.0

In [6]:
spc = Rdf[3]
spc

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7fd72bc3a3c0 / R:0x559c49cd2c20>
[FloatVector, FloatVector, FloatVector, FloatVector, ..., FloatVector, FloatVector, FloatVector, FloatVector]
  400: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd72bc3a0a0 / R:0x559c49cdafa0>
[0.831705, 0.706027, 0.666238, 0.698136, ..., 0.690283, 0.694186, 0.670973, 0.638973]
  400.5: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd703ed23c0 / R:0x559c49d002c0>
[0.839111, 0.714901, 0.676472, 0.706548, ..., 0.700147, 0.703310, 0.680405, 0.648218]
  401: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd703ed2870 / R:0x559c49d255e0>
[0.846473, 0.723727, 0.686655, 0.714909, ..., 0.709964, 0.712392, 0.689774, 0.657403]
  401.5: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd72bc47c30 / R:0x559c49d4a900>
[0.853773, 0.732480, 0.696757, 0.723197, ..., 0.719704, 0.721406, 0.699044, 0.666493]
...
  402.5: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd72bc3a0a0 / R:0x559c6fe5d500>
[0.552345, 0.425009, 0.427408, 0.595482, ..., 0.371803, 0.402868, 0.408138, 0.337743]
  403: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd72bc3ab90 / R:0x559c6fe82820>
[0.552339, 0.425088, 0.427561, 0.595749, ..., 0.371827, 0.402900, 0.408232, 0.337785]
  403.5: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd703ed2cd0 / R:0x559c6fea7b40>
[0.552329, 0.425165, 0.427713, 0.596013, ..., 0.371847, 0.402929, 0.408323, 0.337826]
  404: <class 'rpy2.robjects.vectors.FloatVector'>
  R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7fd72bc3d410 / R:0x559c6fecce60>
[0.552314, 0.425256, 0.427900, 0.596341, ..., 0.371868, 0.402963, 0.408434, 0.337875]

In [7]:
spc_df = pandas.DataFrame({key: list(spc[i]) for i, key in enumerate(list(spc.colnames))})
spc_df["ID"] = df.index
spc_df.set_index("ID", inplace=True)
spc_df

,400,400.5,401,401.5,402,402.5,403,403.5,404,404.5,...,2495,2495.5,2496,2496.5,2497,2497.5,2498,2498.5,2499,2499.5
ID,,,,,,,,,,,,,,,,,,,,,
100,0.831705,0.839111,0.846473,0.853773,0.860988,0.868098,0.875088,0.881935,0.888626,0.895142,...,0.552283,0.552302,0.552319,0.552333,0.552342,0.552345,0.552345,0.552339,0.552329,0.552314
1000,0.706027,0.714901,0.723727,0.732480,0.741142,0.749684,0.758085,0.766323,0.774371,0.782215,...,0.424424,0.424536,0.424642,0.424742,0.424837,0.424924,0.425009,0.425088,0.425165,0.425256
10000,0.666238,0.676472,0.686655,0.696757,0.706753,0.716616,0.726322,0.735840,0.745154,0.754237,...,0.426412,0.426590,0.426763,0.426931,0.427094,0.427254,0.427408,0.427561,0.427713,0.427900
10001,0.698136,0.706548,0.714909,0.723197,0.731384,0.739448,0.747365,0.755111,0.762668,0.770012,...,0.593780,0.594077,0.594368,0.594653,0.594935,0.595211,0.595482,0.595749,0.596013,0.596341
10002,0.675433,0.684819,0.694163,0.703437,0.712620,0.721693,0.730629,0.739404,0.748003,0.756403,...,0.401095,0.401195,0.401289,0.401380,0.401467,0.401554,0.401637,0.401720,0.401802,0.401902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,0.610807,0.620445,0.630031,0.639541,0.648946,0.658222,0.667347,0.676292,0.685041,0.693571,...,0.340917,0.340966,0.341010,0.341050,0.341083,0.341112,0.341136,0.341156,0.341173,0.341192
9995,0.690283,0.700147,0.709964,0.719704,0.729346,0.738867,0.748243,0.757451,0.766471,0.775286,...,0.371520,0.371582,0.371638,0.371690,0.371734,0.371772,0.371803,0.371827,0.371847,0.371868
9996,0.694186,0.703310,0.712392,0.721406,0.730330,0.739143,0.747825,0.756351,0.764706,0.772864,...,0.402604,0.402658,0.402707,0.402754,0.402795,0.402834,0.402868,0.402900,0.402929,0.402963
9997,0.670973,0.680405,0.689774,0.699044,0.708187,0.717172,0.725973,0.734565,0.742925,0.751031,...,0.407444,0.407578,0.407705,0.407824,0.407937,0.408041,0.408138,0.408232,0.408323,0.408434
9998,0.638973,0.648218,0.657403,0.666493,0.675463,0.684284,0.692932,0.701380,0.709607,0.717591,...,0.337415,0.337479,0.337539,0.337595,0.337649,0.337697,0.337743,0.337785,0.337826,0.337875